<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>
          <%= t(:poll).titleize %>: <%= @poll.name %>
        </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="panel panel-info">
        <div class="panel-heading text-center">
          <h2>
            <%= @poll.description %>
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-3 col-md-6">

      <div class="panel panel-default">
        <div class="panel-body">
          <%= form_for @opinion, html: {class: "form-horizontal"} do |f| %>

            <% if @opinion.errors.any? %>
              <div id="error_explanation" class="alert alert-danger alert-dismissible" role="alert">
                <h2>
                  <%= pluralize(@opinion.errors.count, "error") %> impidieron que se grabara la <%= t(:opinion) %>:
                </h2>
                <ul>
                  <% @opinion.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= f.label 'Elige:', class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                <!-- <%= f.select :option, class: "form-control" %> -->
                <% @poll.options.each_with_index do |option,i| %>
                <div class="radio">
                  <label>
                    <input type="radio" name="opinion[option]" id="opinion_option_<%= i %>" value="<%= i %>">
                    <%= option %>
                  </label>
                </div>
                <% end %>
              </div>
            </div>

            <input type="hidden" name="opinion[poll_id]" value="<%= @poll.id %>">
            <input type="hidden" name="opinion[user_id]" value="<%= current_user.id %>">

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <%= f.submit t(:send).humanize, class: "btn btn-primary" %>
              </div>
            </div>

          <% end %>
        </div>
      </div>

      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">¡Atención!</h3>
        </div>
        <div class="panel-body">
          <p>
            ¡Esta encuesta <strong>no garantiza la privacidad de tu respuesta</strong>. Aunque no se publicarán las respuestas de este encuesta, igual es posible ingresar a la base de datos a mirar tu voto. Si no te sientes cómode con esto, <strong>no contestes</strong>.
          </p>
        </div>
      </div>


    </div>
  </div>

</div>
