<div class="container">

  <div class="row">
    <div class="col-md-offset-1 col-md-10">

      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <% if action_name == 'new' %>
            <h2 class="panel-title"><%= t(:add_meeting).humanize %></h2>
          <% else %>
            <h2 class="panel-title"><%= t(:edit_meeting).humanize %></h2>
          <% end %>
        </div>

        <div class="panel-body">
          <%= form_for @meeting, html: {class: "form-horizontal"} do |f| %>

            <% if @meeting.errors.any? %>
              <div id="error_explanation" class="alert alert-danger alert-dismissible" role="alert">
                <h2>
                  <%= pluralize(@meeting.errors.count, "error") %> impidieron que se grabara la reunión:
                </h2>
                <ul>
                  <% @meeting.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= f.label t(:date_lit).humanize, class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                <%= f.date_select :date, :order => [:year, :month, :day], class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label t(:description).humanize, class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                <%= f.text_area :desc, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="group_type">Espacios</label>
              <div class="col-sm-10">

                <select multiple id="meetingGroup_groups" name="meetingGroup[groups][]" class="select2-container select2-container-multi form-control">
                  <% selected_groups = @meeting.meeting_groups.map(&:group_id) %>
                  <% (current_user.admin? ? Group.all : (current_user.agroups | @meeting.groups)).each do |group| %>
                    <option <%= group.id.in?( selected_groups) ? "selected='selected'" : ''%> <%= current_user.admin? || group.id.in?(current_user.agroups.map(&:id)) ? "" : "locked=locked"%> value="<%= group.id %>"><%= group.name %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="group_type">Asistentes</label>
              <div class="col-sm-10">
                <%= collection_select(:userMeeting, :users, User.all, :id, :full_name, {:selected => @meeting.user_meetings.map(&:user_id), include_hidden: false}, {multiple: "multiple",class: "select2-container select2-container-multi form-control ng-valid ng-dirty"}) %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="alert alert-info">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                  Recuerda que aquí sólo puedes agregar usuarios que ya tienen cuenta en este sitio. Si quieres agregar a alguien que no tiene cuenta, primero <%= link_to 'Crea un usuario', new_user_path %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="group_type"><%= t(:start_time).humanize %></label>
              <div class="col-sm-10">
                <%= f.time_field :start, class: "form-control meeting_time_field" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="group_type"><%= t(:finish_time).humanize %></label>
              <div class="col-sm-10">
                <%= f.time_field :finish, class: "form-control meeting_time_field" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label t(:minutes), class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                <%= f.text_area :minutes, class: "form-control", oninput: "this.editor.update()", rows: "4" %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="alert alert-info">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                  En el cuadro de arriba puedes escribir el Acta. A medida que escribas, abajo aparecerá una vista previa del Acta. En este cuadro puedes usar comandos básicos para formatear el texto. Por ejemplo, usa <code>#</code> para obtener texto más grande (intenta escribir <code># Título del Acta</code>). Para un listado de posibilidades, visita <%= link_to 'esta guía', 'https://es.wikipedia.org/wiki/Markdown' %>. Aquí te dejamos un ejemplo de un Acta.
                  <pre># Acta Primera Reunión de la Comisión Democracia Digital

**Tabla:** En esta reunión se tratarán los siguientes temas:

1. El primer tema
2. El segundo tema (expone Cármen)

**Se inicia la sesión a las 19:00**

## Tema 1

* Luis: Creo que hay que hacer algo urgente.
* Cármen: De acuerdo

## Tema 2

* Cármen expone.
* Todos aplauden.</pre>
                </div>
              </div>
            </div>







            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <%= f.submit t(:save).humanize, class: "btn btn-primary" %>
              </div>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Vista previa</h2>
        </div>
        <div class="panel-body">
          <div id="minutes_preview">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<script>
  function Editor(input, preview) {
    this.update = function () {
      preview.innerHTML = markdown.toHTML(input.value);
    };
    input.editor = this;
    this.update();
  }
  new Editor(document.getElementById("meeting_minutes"), document.getElementById("minutes_preview"));

  var textArea = $('#meeting_minutes');
  var preview = $('#minutes_preview');

  textArea.on('change keyup paste', function() {
    $(this).css('height', max(preview.parent().height(), '400px'));
  }).trigger('change');
</script>


<script type="text/javascript">
  $(document).ready(function() {
    $('#userMeeting_users').select2({
      placeholder: "Selecciona Asistentes",
      allowClear: true
    });
    $('#meetingGroup_groups').select2({
      placeholder: "Selecciona Espacios",
      allowClear: true
    });

  });
</script>
