<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h1><%= t(:meetings).titleize %></h1>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><%= t(:name).titleize %></th>
          <th class="text-center"><%= t(:attendants).titleize %></th>
          <% if current_user.admin? %>
            <th colspan="2"></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @meetings.each do |meeting| %>
          <tr>
            <td><%= link_to format_meeting_name(meeting), meeting %></td>
            <td class="text-center"><%= meeting.users.count %></td>
            <% if current_user.admin? %>
              <td class="text-center">
                <%= link_to t(:edit).titleize, edit_meeting_path(meeting), class: "btn btn-info" %>
              </td>
              <td class="text-center">
                <%= link_to t(:destroy).titleize, meeting, method: :delete, data: { confirm: t(:are_you_sure) }, class: "btn btn-danger" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% if can? :new, Meeting %>
      <%= link_to t(:new_meeting).titleize, new_meeting_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
