<div class="container">

  <div class="page-header">
    <h1>Reuniones: <%= format_group_name(@group) %></h1>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title"><%= t(:recent_meetings).humanize %></h2>
        </div>
        <table class="table">
          <thead>
            <th><%= t(:date_lit).humanize %></th>
            <th><%= t(:name).humanize %></th>
          </thead>
          <tbody>
            <% @meetings.each do |meeting| %>
            <tr>
              <td><%= l meeting.date %></td>
              <td><%= link_to format_meeting_name_short(meeting), meeting %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>


    <div class="col-md-3">
      <% if can? :new, Meeting %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Navegación</h2>
        </div>
        <div class="panel-body text-center">
          <%= link_to format_group_name(@group), group_path(@group) %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>
