<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading panel-aphix clearfix">
          <h4><%= t(:meetings).humanize %></h4>
          <div class="pull-right">
            <% if can? :new, Meeting %>
              <%= link_to t(:new_meeting).humanize, new_meeting_path, class: "pull-right btn btn-primary btn-sm" %>
            <% end %>
          </div>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table id="datatable" class="table table-bordered responsive no-wrap">
              <thead>
                <tr>
                  <th><%= t(:title).humanize %></th>
                  <th><%= t(:groups).humanize %></th>
                  <th><%= t(:attendants).humanize %></th>
                  <th><%= t(:date_lit).humanize %></th>
                  <th width="75px">Acciones</th>
                </tr>
              </thead>

              <tbody>
                <% @meetings.each do |meeting| %>
                  <tr>
                    <td>
                      <%= link_to format_meeting_name(meeting), meeting %>
                    </td>
                    <td>
                      <%= meeting.groups.map(&:name).join(", ")  %>
                    </td>

                    <td class="text-center">
                      <%= meeting.users.count %>
                    </td>
                    <td>
                      <%= l Date.parse(meeting.date.to_s) %>
                    </td>
                    <td>

                      <%= link_to meeting_path(meeting), class: "btn btn-default btn-sm" do %> <span class="glyphicon glyphicon-zoom-in"></span> <% end %>
                      <% if can?(:edit, meeting) %>
                        <%= link_to edit_meeting_path(meeting), class: "btn btn-default btn-sm" do %> <span class="glyphicon glyphicon-edit"></span> <% end %>
                        <%= link_to meeting_path(meeting.id), method: :delete, class: "btn btn-default btn-sm", data: { confirm: t(:are_you_sure).humanize }, title: t(:destroy_meeting).humanize do %> <span class="glyphicon glyphicon-trash"></span> <% end %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    var exportTable = '<%= 'T' if current_user.admin? %>';

    $('#datatable').DataTable({
      "sDom": '<"pull-left"' + exportTable + '>frt<"widget-foot" <"info_table pull-left"i><"pagination pull-right"p><"clearfix">>',
      "columnDefs": [ { "targets": 4, "orderable": false } ],
      "tableTools": {
        "sSwfPath": "swf/copy_csv_xls.swf",
        "aButtons": [{
          "sExtends": "csv",
          "oSelectorOpts": { filter: 'applied', order: 'current' },
          "sTitle": "listado_reuniones",
          "sButtonText": "Exportar CSV (omite filtradas)",
          "mColumns": [0, 1, 2, 3]
        },
        ]},
        "oLanguage": {
          "sSearch": "Filtrar: ",
          "sZeroRecords": "No se encontraron reuniones",
          "sInfo": "Mostrando _START_ a _END_ reuniones de un total de _TOTAL_ ",
          "sInfoEmpty": "Mostrando 0 a 0 reuniones de un total de 0",
          "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
          "oPaginate": {
            "sNext": "Siguiente <span class='glyphicon glyphicon-chevron-right'></span>",
            "sPrevious": "<span class='glyphicon glyphicon-chevron-left'></span> Anterior",
          }
        }
    });
  });
</script>
