<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h1><%= t(:meetings).humanize %></h1>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><%= t(:title).humanize %></th>
          <th><%= t(:group).huamnize %></th>
          <th><%= t(:attendants).humanize %></th>
          <th><%= t(:date_lit).humanize %></th>
        </tr>
      </thead>

      <tbody>
        <% @meetings.each do |meeting| %>
          <tr>
            <td>
              <%= link_to format_meeting_name(meeting), meeting %>
            </td>
            <td>
              <%= link_to meeting.group.name, meeting.group %>
            </td>
            <td class="text-center">
              <%= meeting.users.count %>
            </td>
            <td>
              <%= Date.parse(meeting.date.to_s) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% if can? :new, Meeting %>
      <%= link_to t(:new_meeting).humanize, new_meeting_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
