<div class="container">

  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title"><%= t(:meetings).humanize %></h2>
        </div>
        <table class="table">
          <thead>
            <th><%= t(:date_lit).humanize %></th>
            <th><%= t(:name).humanize %></th>
            <th><%= t(:attendants).humanize %></th>
          </thead>
          <tbody>
            <% @meetings.each do |meeting| %>
            <tr>
              <td><%= l meeting.date %></td>
              <td><%= link_to format_meeting_name_short(meeting), meeting %></td>
              <td><%= meeting.user_meetings.size %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>


    <div class="col-md-3">
      <% if can? :new, Meeting %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="panel-title"><%= t(:administration).humanize %></h2>
        </div>
        <div class="panel-body text-center">
          <%= link_to t(:new_meeting).humanize, new_meeting_path, class: 'btn btn-primary' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>
