<div class="row">
  <div class="col-lg-12">
    <h1><%= format_meeting_name(@meeting) %></h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-2">
    <% if can?(:edit, @meeting) || can?(:destroy, @meeting) %>
      <div class="alert alert-info admin-panel">
        <strong><%= t(:administration).humanize %></strong>
        <% if can?(:edit, @meeting) %>
          <%= link_to t(:edit_meeting).humanize, edit_meeting_path(@meeting), class: "btn btn-primary" %>
        <% end %>
        <% if can?(:destroy, @meeting) %>
          <%= link_to t(:destroy_meeting).humanize, meeting_path(@meeting), method: :delete, class: "btn btn-danger", data: { confirm: t(:are_you_sure).humanize } %>
        <% end %>
        <hr />
        <%= form_for UserMeeting.new, remote: true, html: {class: "form-inline"} do |f| %>
          <%= f.hidden_field :meeting_id, value: @meeting.id %>
          <!-- <div class="form-group"> -->
            <%= f.collection_select :user_id, User.all, :id, :name, {}, {class: "form-control"} %>
          <!-- </div> -->
          <div class="form-group">
            <%= f.submit t(:add_attendant).humanize, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="col-lg-8">

    <p>
      <strong><%= t(:description).humanize %>:</strong>
      <%= @meeting.desc %>
    </p>

    <p>
      <strong><%= t(:groups).humanize %>:</strong>
      <% @meeting.groups.each do |group| %>
        <%= link_to group.name, group %>
      <% end %>
    </p>

    <h2><%= t(:attendants).humanize %></h2>

    <ul id="attendants_ul">
      <% @meeting.user_meetings.each do |user_meeting| %>
        <%= render partial: "attendant_li", locals: {user_meeting: user_meeting} %>
      <% end %>
    </ul>


  </div>
</div>
