<div class="row">
  <div class="col-lg-12">
    <h1><%= format_meeting_name(@meeting) %></h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-2">
    <% if can?(:edit, @meeting) || can?(:destroy, @meeting) %>
      <div class="alert alert-info admin-panel">
        <strong><%= t(:administration).humanize %></strong>
        <% if can?(:edit, @meeting) %>
          <%= link_to t(:edit_meeting).humanize, edit_meeting_path(@meeting), class: "btn btn-primary" %>
        <% end %>
        <% if can?(:destroy, @meeting) %>
          <%= link_to t(:destroy_meeting).humanize, meeting_path(@meeting), method: :delete, class: "btn btn-danger", data: { confirm: t(:are_you_sure).humanize } %>
        <% end %>
        <hr />
        <%= form_for MeetingGroup.new, remote: true, html: {class: "form-inline"} do |f| %>
          <%= f.hidden_field :meeting_id, value: @meeting.id %>
            <%= f.collection_select :group_id, Group.all, :id, :name, {}, {class: "form-control"} %>
          <div class="form-group">
            <%= f.submit t(:add_group).humanize, class: "btn btn-primary" %>
          </div>
        <% end %>
        <hr />
        <%= form_for UserMeeting.new, remote: true, html: {class: "form-inline"} do |f| %>
          <%= f.hidden_field :meeting_id, value: @meeting.id %>
          <!-- <div class="form-group"> -->
            <%= f.collection_select :user_id, User.all, :id, :name, {}, {class: "form-control"} %>
          <!-- </div> -->
          <div class="form-group">
            <%= f.submit t(:add_attendant).humanize, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="col-lg-8">

    <p>
      <strong><%= t(:description).humanize %>:</strong>
      <%= @meeting.desc %>
    </p>

    <h2><%= t(:groups).humanize %></h2>

    <ul id="organizing_groups_ul">
      <% @meeting.meeting_groups.each do |meeting_group| %>
        <%= render partial: "organizing_group_li", locals: {meeting_group: meeting_group, removable: can?(:edit, @meeting) } %>
      <% end %>
    </ul>

    <h2><%= t(:attendants).humanize %></h2>

    <ul id="attendants_ul">
      <% @meeting.user_meetings.each do |user_meeting| %>
        <%= render partial: "attendant_li", locals: {user_meeting: user_meeting, removable: can?(:edit, @meeting) } %>
      <% end %>
    </ul>




    <% if can?(:edit, @meeting) %>
      <%= form_for @meeting do |f| %>

        <div class="meeting_time">
          <h2><%= t(:start_time) %></h2>

          <%= f.time_field :start, class: "meeting_time_field" %>
        </div>

        <h2><%= t(:minutes).humanize %></h2>

        <div id="minutes_preview">
        </div>
        <%= f.text_area :minutes, class: "meeting_minutes_field form-control", id: "minutes_textarea", oninput: "this.editor.update()" %>

        <script>
          function Editor(input, preview) {
            this.update = function () {
              preview.innerHTML = markdown.toHTML(input.value);
            };
            input.editor = this;
            this.update();
          }
          var $ = function (id) { return document.getElementById(id); };
          new Editor($("minutes_textarea"), $("minutes_preview"));
        </script>

        <div class="meeting_time">
          <h2><%= t(:finish_time) %></h2>

          <%= f.time_field :finish, class: "meeting_time_field" %>
        </div>

        <div class="text-center">
          <%= f.submit t(:send).humanize, class: "btn btn-lg btn-primary" %>
        </div>


      <% end %>
    <% end %>





  </div>
</div>
