<div class="container">

  <div class="page-header">
    <h1><%= format_meeting_name(@meeting) %></h1>
  </div>

  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Información</h3>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <td class="text-right">
                <strong><%= t(:description).humanize %>:</strong>
              </td>
              <td>
                <%= @meeting.desc %>
              </td>
            </tr>
            <tr>
              <td class="text-right">
                <strong>Organiza:</strong>
              </td>
              <td>
                <% @meeting.meeting_groups.each do |mg| %>
                  <%= link_to mg.group.display_name, mg.group %><br />
                <% end %>
              </td>
            </tr>
            <tr>
              <td class="text-right">
                <strong>Hora inicio:</strong>
              </td>
              <td>
                <%= l @meeting.start, format: :just_time unless @meeting.start.nil? %>
              </td>
            </tr>
            <tr>
              <td class="text-right">
                <strong>Hora término:</strong>
              </td>
              <td>
                <%= l @meeting.finish, format: :just_time unless @meeting.finish.nil? %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h3 class="panel-title"><%= t(:minutes).humanize %></h3>
        </div>
        <div class="panel-body minutes_panel_body">
          <div id="minutes_preview"></div>
          <%= hidden_field_tag :minutes, @meeting.minutes, class: "meeting_minutes_field form-control", id: "minutes_textarea", oninput: "this.editor.update()" %>
        </div>
      </div>

    </div>

    <div class="col-md-3">

      <% if can? :edit, @meeting %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="panel-title">Administración</h2>
        </div>
        <div class="panel-body text-center">
          <%= link_to 'Editar reunión', edit_meeting_path(@meeting), class: "btn btn-primary" %>
        </div>
      </div>
      <% end %>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Asistentes</h2>
        </div>
        <ul class="list-group">
          <% @meeting.user_meetings.each do |um| %>
            <li class="list-group-item">
              <%= render partial: 'users/user_link', locals: { user: um.user } %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>

</div>


<script>
  function Editor(input, preview) {
    this.update = function () {
      preview.innerHTML = markdown.toHTML(input.value);
      // preview.html( markdown.toHTML(input.value() ));
    };
    input.editor = this;
    this.update();
  }
  // var $ = function (id) { return document.getElementById(id); };
  new Editor(document.getElementById("minutes_textarea"), document.getElementById("minutes_preview"));
</script>
