<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<h1>Actas</h1>

		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Nombre</th>
					<th class="text-center">Asistentes</th>
					<% if current_user.admin? %>
						<th colspan="2"></th>
					<% end %>
				</tr>
			</thead>

			<tbody>
				<% @actas.each do |acta| %>
					<tr>
						<td><%= link_to format_acta_name(acta), acta %></td>
						<td class="text-center"><%= acta.users.count %></td>
						<% if current_user.admin? %>
							<td class="text-center">
								<%= link_to 'Editar', edit_acta_path(acta), class: "btn btn-info" %>
							</td>
							<td class="text-center">
								<%= link_to 'Eliminar', acta, method: :delete, data: { confirm: 'Estás seguro?' }, class: "btn btn-danger" %>
							</td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>

		<% if can? :new, Acta %>
			<%= link_to 'Nueva Acta', new_acta_path, class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
