<div class="row">
  <div class="col-lg-12">
    <h1><%= t(:group).humanize %>: <%= @group.name %></h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-2">
    <% if can?(:edit, @group) || can?(:destroy, @group) %>
      <div class="alert alert-info admin-panel">
        <strong><%= t(:administration).humanize %></strong>
        <% if can?(:edit, @group) %>
          <%= link_to t(:edit_group).humanize, edit_group_path(@group), class: "btn btn-primary" %>
        <% end %>
        <% if can?(:destroy, @group) %>
          <%= link_to t(:destroy_group).humanize, group_path(@group), method: :delete, class: "btn btn-danger" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="col-lg-8">

  </div>
</div>
