<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h1><%= t(:group).titleize %>: <%= @group.name %></h1>

    <p>
      <strong><%= t(:name).titleize %>:</strong>
      <%= @group.name %>
    </p>

    <% if can? :edit, @group %>
      <%= link_to t(:edit).titleize, edit_group_path(@group), class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
