<div class="container">

  <div class="page-header">
    <h1><%= format_group_name(@group) %></h1>
  </div>


  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Información</h2>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <td class="text-right">
                <strong>Tipo:</strong>
              </td>
              <td>
                <%= format_group_type(@group) %>
              </td>
            </tr>
            <tr>
              <td class="text-right">
                <strong>Nombre:</strong>
              </td>
              <td>
                <%= format_group_name(@group) %>
              </td>
            </tr>
            <tr>
              <td class="text-right">
                <strong>Descripción:</strong>
              </td>
              <td>
                <%= @group.desc %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h2 class="panel-title"><%= t(:recent_meetings).humanize %></h2>
        </div>

        <table class="table">
          <tbody>
            <% @meetings.each do |meeting| %>
              <tr>
                <td>
                  <%= link_to format_meeting_name(meeting), meeting %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-3">
      <% if can? :edit, @group %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="panel-title">Administración</h2>
        </div>
        <div class="panel-body text-center">
          <%= link_to 'Editar grupo', edit_group_path(@group), class: "btn btn-primary" %>
        </div>
      </div>
      <% end %>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Moderadores</h2>
        </div>
        <ul class="list-group">
          <% @group.admins.each do |user| %>
            <li class="list-group-item">
              <%= render partial: 'users/user_link', locals: { user: user } %>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Miembros</h2>
        </div>
        <ul class="list-group">
          <% @group.members.each do |user| %>
            <li class="list-group-item">
              <%= render partial: "users/user_link", locals: { user: user } %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>



  <% if current_user.admin_groups.include?(@group) || current_user.admin? %>
  <!-- <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Miembros Activos</h2>
        </div>

        <table class="table">
          <tbody>
            <% @group.meetings.where() %>
          </tbody>
        </table>
      </div>
    </div>
  </div> -->
  <% end %>

</div>

<script charset="utf-8">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
