<div class="container">
  <ol class="breadcrumb">
    <li > <%= link_to t(:groups).humanize, groups_path %> </li>
    <li class="active"> <%= t(:list).humanize %></li>
  </ol>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <%= t(:group).humanize %>: <%= @group.name %>
        </div>
        <div class="panel-body">

          <h2><%= t(:administrators).humanize %></h2>

          <ul id="group_admins_ul">
            <% @group.admin_groups.each do |admin_group| %>
              <%= render partial: "group_admin_li", locals: {admin_group: admin_group, removable: can?(:edit, @group) } %>
            <% end %>
          </ul>

          <h2><%= t(:members).humanize %></h2>

          <ul id="group_members_ul">
            <% @group.member_groups.each do |member_group| %>
              <%= render partial: "group_member_li", locals: {member_group: member_group, removable: can?(:edit, @group) } %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>