<li data-group-id="<%= member_group.group_id %>">
  <span class="membered_group">
    <%= link_to member_group.group.name, member_group.group %>
    <% if removable %>
      <%= form_for member_group, html: { method: :delete }, remote: true do |f| %>
        <%= hidden_field_tag :original_controller, "users" %>
        <%= f.button type: "submit" do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      <% end %>
    <% end %>
  </span>
</li>
