<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h1>Usuarios</h1>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Username</th>
          <% if current_user.admin? %>
            <th colspan="2"></th>
            <th>Asistencias recientes</th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.name, user %></td>
            <td><%= user.email %></td>
            <td><%= user.username %></td>
            <% if current_user.admin? %>
              <td class="text-center">
                <%= link_to 'Editar', edit_user_path(user), class: "btn btn-info" %>
              </td>
              <td class="text-center">
                <%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
              </td>
              <td class="text-center">
                <%= user.actas.where(date: (DateTime.now-6.months)..(DateTime.now)).count %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% if can? :new, User %>
      <%= link_to 'Nuevo Usuario', new_user_path, class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
