<div class="container">
  <ol class="breadcrumb">
    <li > <%= link_to t(:users).humanize, users_path %> </li>
    <li class="active"> <%= t(:list).humanize %></li>
  </ol>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h4><%= t(:users).humanize %></h4>
          <div class="pull-right">
            <% if can? :new, User %>
              <%= link_to t(:new_user).humanize, new_user_path, class: "pull-right btn btn-primary btn-sm" %>
            <% end %>
          </div>
        </div>
        <div class="panel-body">

          <%# <%= form_tag users_path, :method => :get, :class => "form-inline" do  %1> %>
          <%#       <%= text_field_tag :from, "value", class: "form-control", placeholder: 'desde' %1> %>
          <%#       <%= text_field_tag :to, "value", class: "form-control", placeholder: 'hasta' %1> %>
          <%#       <%= submit_tag "Enviar", class: "btn btn-default" %1> %>
          <%# <% end %1> %>

          <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">

            <thead>
              <tr>
                <th><%= t(:first_name).humanize %></th>
                <th><%= t(:second_name).humanize %></th>
                <th><%= t(:last_name).humanize %></th>
                <th><%= t(:email).humanize %></th>
                <th><%= t(:username).humanize %></th>
                <th><%= t(:rut).humanize %></th>
                <% if current_user.admin? %>
                  <th><%= t(:recent_attendances).humanize %></th>
                  <th><%= t(:active).humanize %>?</th>
                <% end %>
                <th><%= t(:action) %></th>
              </tr>
              <%# <tr> %>
                <%#   <th> <%= text_field :d_first_name, class: "form-control", placeholder: t(:first_name).humanize %1> </th> %>
                <%#   <th><%= text_field :d_second_name , class: "form-control", placeholder: t(:second_name).humanize %1></th> %>
                <%#   <th><%= t(:last_name).humanize %1></th> %>
                <%#   <th><%= t(:email).humanize %1></th> %>
                <%#   <th><%= t(:username).humanize %1></th> %>
                <%#   <th><%= t(:rut).humanize %1></th> %>
                <%#   <% if current_user.admin? %1> %>
                  <%#     <th><%= t(:recent_attendances).humanize %1></th> %>
                  <%#     <th><%= t(:active).humanize %1>?</th> %>
                  <%#   <% end %1> %>
                <%#   <th></th> %>
                <%# </tr> %>
            </thead>

            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.first_name %></td>
                  <td><%= user.second_name %></td>
                  <td><%= user.last_name %></td>
                  <td><%= user.email %></td>
                  <td><%= user.username %></td>
                  <td><%= user.rut %></td>
                  <% if current_user.admin? %>
                    <td class="text-center">
                      <%= user.meetings.where(date: (DateTime.now-6.months)..(DateTime.now)).count %>
                    </td>
                    <td class="text-center">
                      <% if user.meetings.where(date: (DateTime.now-6.months)..(DateTime.now)).count >= 6 %>
                        <span class="glyphicon glyphicon-ok"></span>
                      <% end %>
                    </td>
                  <% end %>
                  <td><%= link_to "Ver", user %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('#datatable').DataTable({
    "sDom": '<"pull-left"T>frt<"widget-foot" <"info_table pull-left"i><"pagination pull-right"p><"clearfix">>',
    "tableTools": {
      "sRowSelect": "multi",
      "sSwfPath": "swf/copy_csv_xls.swf",
      "aButtons": [{
        "sExtends": "csv",
        "sButtonText": "Exportar Todo CSV",

      }, {
        "sExtends": "copy",
        "sButtonText": "Copiar lista de correos",
        "mColumns": [3],
        "bHeader": false,
        "sNewLine": ",",
        "fnComplete": function(nButton, oConfig, flash, text) {
          var lines = text.split(oConfig.sNewLine).length;
          if (oConfig.bHeader) lines--;
          if (this.s.dt.nTFoot !== null && oConfig.bFooter) lines--;
          var plural = (lines==1) ? "" : "s";
          this.fnInfo( '<h6>Lista de correos</h6>'+ '<p>Copiado '+lines+' fila'+plural+' al portapapeles.</p>', 1500);
        }
      }
      ]},
      "oLanguage": {
        "sSearch": "Filtrar: ",
        "sZeroRecords": "No se encontraron usuarios",
        "sInfo": "Mostrando _START_ a _END_ usuarios de un total de _TOTAL_ ",
        "sInfoEmpty": "Mostrando 0 a 0 usuarios de un total de 0",
        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
        "oPaginate": {
          "sNext": "Siguiente <span class='glyphicon glyphicon-chevron-right'></span>",
          "sPrevious": "<span class='glyphicon glyphicon-chevron-left'></span> Anterior",
        }
      }
  });

  // Custom search by columns
  <%# $("thead input").keyup( function () { %>
    <%#     oTable.fnFilter( this.value, $("thead input").index(this) ); %>
    <%# }); %>

</script>
