<div class="container">
  <ol class="breadcrumb">
    <li > <%= link_to t(:users).humanize, users_path %> </li>
    <li class="active"> <%= t(:list).humanize %></li>
  </ol>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h4><%= t(:users).humanize %></h4>
          <div class="pull-right">
            <form action="<%= users_path %>" method="get" class="form-inline">
              <%= text_field_tag :from, @from, class: "form-control datepicker", placeholder: @from %>
              <%= text_field_tag :to, @to, class: "form-control datepicker", placeholder: @to %>
              <%= text_field_tag :n, @n, class: "form-control", placeholder: @n %>
              <%= submit_tag "Enviar", :name => nil, class: "btn btn-default" %>
            </form>
          </div>
        </div>
        <div class="panel-body">
          <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th><%= t(:first_name).humanize %></th>
                <th><%= t(:second_name).humanize %></th>
                <th><%= t(:last_name).humanize %></th>
                <th><%= t(:email).humanize %></th>
                <th><%= t(:rut).humanize %></th>
                <% if current_user.admin? %>
                  <th><%= t(:recent_attendances).humanize %></th>
                  <th><%= t(:active).humanize %>?</th>
                <% end %>
                <th><%= t(:action) %></th>
              </tr>
            </thead>

            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.first_name %></td>
                  <td><%= user.second_name %></td>
                  <td><%= user.last_name %></td>
                  <td><%= user.email %></td>
                  <td><%= user.rut %></td>
                  <% if current_user.admin? %>
                    <td class="text-center">
                      <% asistances = user.meetings.where(date: (@from)..(@to)).count %>
                      <%= asistances %>
                    </td>
                    <td class="text-center">
                      <% if asistances >= @n.to_i %>
                        <span class="glyphicon glyphicon-ok"></span>
                      <% end %>
                    </td>
                  <% end %>
                  <td><%= link_to "Ver", user %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('#datatable').DataTable({
      "sDom": '<"pull-left"T>frt<"widget-foot" <"info_table pull-left"i><"pagination pull-right"p><"clearfix">>',
      "tableTools": {
        "sRowSelect": "multi",
        "sSwfPath": "swf/copy_csv_xls.swf",
        "aButtons": [{
          "sExtends": "csv",
          "sButtonText": "Exportar Todo CSV",

        }, {
          "sExtends": "copy",
          "sButtonText": "Copiar lista de correos",
          "mColumns": [3],
          "bHeader": false,
          "sNewLine": ",",
          "oSelectorOpts": { filter: 'applied', order: 'current' },
          "fnComplete": function(nButton, oConfig, flash, text) {
            var lines = text.split(oConfig.sNewLine).length;
            if (oConfig.bHeader) lines--;
            if (this.s.dt.nTFoot !== null && oConfig.bFooter) lines--;
            var plural = (lines==1) ? "" : "s";
            this.fnInfo( '<h6>Lista de correos</h6>'+ '<p>Copiado '+lines+' fila'+plural+' al portapapeles.</p>', 1500);
          }
        }
        ]},
        "oLanguage": {
          "sSearch": "Filtrar: ",
          "sZeroRecords": "No se encontraron usuarios",
          "sInfo": "Mostrando _START_ a _END_ usuarios de un total de _TOTAL_ ",
          "sInfoEmpty": "Mostrando 0 a 0 usuarios de un total de 0",
          "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
          "oPaginate": {
            "sNext": "Siguiente <span class='glyphicon glyphicon-chevron-right'></span>",
            "sPrevious": "<span class='glyphicon glyphicon-chevron-left'></span> Anterior",
          }
        }
    });

    // Custom search by columns
    //    $("thead input").keyup( function () {
    //      oTable.fnFilter( this.value, $("thead input").index(this) );
    //    });


    $( "#from" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 1,
      dateFormat: 'yy-mm-dd',
      onClose: function( selectedDate ) {
        $( "#to" ).datepicker( "option", "minDate", selectedDate );

      }
    });
    $( "#to" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 1,
      dateFormat: 'yy-mm-dd',
      onClose: function( selectedDate ) {
        $( "#from" ).datepicker( "option", "maxDate", selectedDate );
      }
    });

  });

</script>
