<div class="container">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="panel-title">Generar padrón</h2>
        </div>

        <div class="panel-body">
          <%= form_tag 'manifest_file.csv', class: "form-horizontal" do %>

            <div class="form-group">
              <%= label_tag "Fecha inicio:", nil, class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                <%= date_select :manifest, :start_date, { id: 'start_date', order: [:year, :month, :day] }, { class: "form-control" } %>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag "Fecha término:", nil, class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                <%= date_select :manifest, :end_date, { order: [:year, :month, :day] }, { class: "form-control" } %>
              </div>
            </div>

            <div class="form-group">
              <%= label_tag "Asistencias:", nil, class: "col-sm-2 control-label" %>
              <div class="col-sm-10">
                <%= text_field :manifest, :min_attendances, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <%= submit_tag t(:save).humanize, class: "btn btn-primary" %>
              </div>
            </div>

          <% end %>
        </div>
      </div>


      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="panel-title">Generar padrón completo</h2>
        </div>

        <div class="panel-body">
          <%= link_to 'Descargar padrón completo', users_manifest_full_file_path(format: :csv), class: 'btn btn-primary' %>
        </div>
      </div>

    </div>
  </div>

</div>

<script>
$(document).ready(function() {
    $('#datePicker')
        .datepicker({
            format: 'dd/mm/yyyy'
        })
        .on('changeDate', function(e) {
            // Revalidate the date field
            $('#eventForm').formValidation('revalidateField', 'date');
        });

    $('#eventForm').formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: 'The name is required'
                    }
                }
            },
            date: {
                validators: {
                    notEmpty: {
                        message: 'The date is required'
                    },
                    date: {
                        format: 'MM/DD/YYYY',
                        message: 'The date is not a valid'
                    }
                }
            }
        }
    });
});
</script>
