<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>
          <%= image_tag(gravatar_url_for(@user), alt: @user.name, class: "gravatar img-circle", size: UsersHelper::GRAVATAR_DEFAULT_SIZE) %>
          <%= @user.full_name %>
        </h1>
      </div>
    </div>
  </div>

  <div class="row">


    <div class="col-md-offset-1 col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title"><%= t(:user_information).humanize %></h2>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <td class="text-right"><strong><%= t(:email).humanize %>:</strong></td>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <td class="text-right"><strong><%= t(:name).humanize %>:</strong></td>
              <td><%= @user.full_name %></td>
            </tr>
            <% if !@user.birthdate.nil? %>
            <tr>
              <td class="text-right"><strong><%= t(:birthdate).humanize %>:</strong></td>
              <td><%= l @user.birthdate %></td>
            </tr>
            <% end %>
            <% if !(@user.city.nil? || @user.city.empty?) %>
            <tr>
              <td class="text-right"><strong><%= t(:city).humanize %>:</strong></td>
              <td><%= @user.city %></td>
            </tr>
            <% end %>
            <% if !(@user.description.nil? || @user.description.empty?) %>
            <tr>
              <td class="text-right"><strong><%= t(:description).humanize %>:</strong></td>
              <td><%= @user.description %></td>
            </tr>
            <% end %>
            <% if !(@user.twitter_user.nil? || @user.twitter_user.empty?) %>
            <tr>
              <td class="text-right"><strong><%= t(:twitter_user).humanize %>:</strong></td>
              <td><%= @user.twitter_user %></td>
            </tr>
            <% end %>
            <% if current_user.admin? || current_user.agroups.any? %>
            <tr>
              <td class="text-right"><strong><%= t(:rut).humanize %>:</strong></td>
              <td><%= @user.rut %></td>
            </tr>
            <tr>
              <td class="text-right"><strong><%= t(:mobile_number).humanize %>:</strong></td>
              <td><%= @user.mobile_number %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title"><%= t(:recent_meetings).humanize %></h2>
        </div>
        <% if @user.meetings.any? %>
        <table class="table">
          <thead>
            <tr>
              <th><%= t(:date_lit).humanize %></th>
              <th><%= t(:title).humanize %></th>
            </tr>
          </thead>
          <tbody>
            <% @user.meetings.order(date: :desc).each do |meeting| %>
              <tr>
                <td>
                  <%= l meeting.date %>
                </td>
                <td>
                  <%= link_to format_meeting_name(meeting), meeting %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% end %>
      </div>

    </div>

    <div class="col-md-offset-2 col-md-3">
      <% if current_user == @user %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="panel-title">Recuerda cambiar tu clave!</h2>
        </div>
        <div class="panel-body text-center">
          <%= link_to "Editar mi datos", edit_user_path(@user), class: "btn btn-primary" %>
        </div>
      </div>
      <% end %>

      <%= render partial: 'member_status_panel', locals: { user: @user, current_user: current_user } %>

      <% if @user.groups.any? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Espacios</h2>
        </div>
        <div class="panel-body">
          <% if current_user == @user %>
            Eres miembro de los siguientes Espacios:
          <% elsif %>
            Miembro de los siguientes Espacios:
          <% end %>
        </div>
        <ul class="list-group">
          <% @user.groups.each do |g| %>
            <li class="list-group-item"><%= link_to format_group_name(g), g %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

    </div>

  </div>



</div>
