<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h1>Perfil: <%= @user.name %></h1>

    <p>
      Actas recientes: <%= @user.actas.where(date: (DateTime.now-6.months)..(DateTime.now)).count %>
    </p>

    <p>
      <strong>Username:</strong>
      <%= @user.username %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <% if @user.admin? %>
      <p>
        <strong>Admin</strong>
      </p>
    <% end %>

    <% if can? :edit, @user %>
      <%= link_to 'Editar', edit_user_path(@user), class: "btn btn-primary" %>
    <% end %>

    <h2>Territorios</h2>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <% if current_user.admin? %>
            <th></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @user.member_territorios.each do |member_territorio| %>
        <% territorio = member_territorio.territorio %>
          <tr>
            <td>
              <%= link_to territorio.name, territorio %><% if @user.aterritorios.include?(territorio) %> <strong>(admin)</strong><% end %>
            </td>
            <% if current_user.admin? %>
              <td class="text-center">
                <%= link_to "Eliminar", member_territorio, method: :delete, data: { confirm: 'Estás seguro?' }, class: "btn btn-danger" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>


    <% if current_user.admin? %>
      <%= form_for @member_territorio, html: { class: "form-inline" } do |f| %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <div class="form-group">
          <label class="sr-only">Nombre del Territorio</label>
          <select name="member_territorio[territorio_id]" class="form-control">
            <% Territorio.all.each do |territorio| %>
              <% if !@user.territorios.include?(territorio) %>
                <option value="<%= territorio.id %>"><%= territorio.name %></option>
              <% end %>
            <% end %>
          </select>
        </div>
        <%= f.submit "Agregar Territorio", class: "btn btn-primary" %>
      <% end %>
    <% end %>


    <h2>Actas</h2>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Acta</th>
        </tr>
      </thead>

      <tbody>
        <% @user.actas.each do |acta| %>
          <tr>
            <td>
              <%= link_to "#{acta.territorio.name} #{acta.date}", acta %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
