<div class="row">
  <div class="col-lg-12">
    <h1>
      <%= gravatar_for @user %>
      <%= @user.name %>
    </h1>
  </div>
</div>

<div class="row">

  <div class="col-lg-2">
    <% if can?(:edit, @user) || can?(:destoy, @user) %>
      <div class="alert alert-info admin-panel">
        <strong><%= t(:administration).humanize %></strong>
        <% if can?(:edit, @user) %>
          <%= link_to t(:edit_user).humanize, edit_user_path(@user), class: "btn btn-primary" %>
        <% end %>
        <% if can?(:destroy, @user) %>
          <%= link_to t(:destroy_user).humanize, user_path(@user), method: :delete, class: "btn btn-danger" %>
        <% end %>
      </div>
    <% end %>
    <% if @user.admin? %>
      <div class="alert alert-danger text-center" style="position: relative;">
        <span class="glyphicon glyphicon-flash" > <strong><%= t(:administrator).humanize%></strong>
      </div>
    <% end %>
    <% if recent_attendance_for(@user) >= 6 %>
      <div class="alert alert-success text-center">
        <strong><%= t(:active_member).humanize%></strong>
      </div>
    <% else %>
      <div class="alert alert-warning text-center">
        <strong><%= t(:supporting_member).humanize%></strong>
      </div>
    <% end %>
    <hr />
    <% @user.groups.each do |group| %>
      <div class="alert alert-info text-center">
        <%= t(:member_of_group).humanize %><br />
        <strong><%= link_to group.name, group %></strong>
      </div>
    <% end %>
  </div>

  <div class="col-lg-8">

    <p>
      <%= t(:recent_meetings).humanize %>: <%= @user.meetings.where(date: (DateTime.now-6.months)..(DateTime.now)).count %>
    </p>

    <p>
      <strong><%= t(:username).humanize %>:</strong>
      <%= @user.username %>
    </p>

    <p>
      <strong><%= t(:email).humanize %>:</strong>
      <%= @user.email %>
    </p>

    <h2><%= t(:territories).humanize %></h2>

    <table class="table table-striped table-bordered">
      <tbody>
        <% @user.member_groups.each do |member_group| %>
        <% group = member_group.group %>
          <tr>
            <td>
              <%= link_to group.name, group %><% if @user.agroups.include?(group) %> <strong>(admin)</strong><% end %>
            </td>
            <% if current_user.admin? %>
              <td class="text-center">
                <%= link_to t(:destroy).humanize, member_group, method: :delete, data: { confirm: t(:are_you_sure).humanize }, class: "btn btn-danger" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% if current_user.admin? %>
      <%= form_for @member_group, html: { class: "form-inline" } do |f| %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <div class="form-group">
          <label class="sr-only"><%= t(:group_name).humanize %></label>
          <select name="member_group[group_id]" class="form-control">
            <% Group.all.each do |group| %>
              <% if !@user.groups.include?(group) %>
                <option value="<%= group.id %>"><%= group.name %></option>
              <% end %>
            <% end %>
          </select>
        </div>
        <%= f.submit t(:add_group).humanize, class: "btn btn-primary" %>
      <% end %>
    <% end %>


    <h2><%= t(:meetings).humanize %></h2>

    <% if @user.meetings.any? %>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th><%= t(:title).humanize %></th>
            <th><%= t(:date_lit).humanize %></th>
          </tr>
        </thead>

        <tbody>
          <% @user.meetings.each do |meeting| %>
            <tr>
              <td>
                <%= link_to format_meeting_name(meeting), meeting %>
              </td>
              <td>
                <%= Date.parse(meeting.date.to_s) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p><%= t(:has_no_meetings).humanize %></p>
    <% end %>

  </div>
</div>
