<div class="row">
  <div class="col-lg-12">
    <h1>
      <%= gravatar_for @user %>
      <%= @user.name %>
    </h1>
  </div>
</div>

<div class="row">

  <div class="col-lg-2">
  </div>

  <div class="col-lg-8">

    <div class="row">

      <div class="col-sm-7">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= t(:user_information).humanize %></h3>
          </div>
          <table class="table">
            <tbody>
              <tr>
                <td class="text-right">
                  <strong><%= t(:email).humanize %>:</strong>
                </td>
                <td>
                  <%= @user.email %>
                </td>
              </tr>
              <tr>
                <td class="text-right">
                  <strong><%= t(:name).humanize %>:</strong>
                </td>
                <td>
                  <%= @user.full_name %>
                </td>
              </tr>
              <tr>
                <td class="text-right">
                  <strong><%= t(:rut).humanize %>:</strong>
                </td>
                <td>
                  <%= @user.rut %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-sm-5"></div>
    </div>

    <h2><%= t(:meetings).humanize %></h2>

    <% if @user.meetings.any? %>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th><%= t(:title).humanize %></th>
            <th><%= t(:date_lit).humanize %></th>
          </tr>
        </thead>

        <tbody>
          <% @user.meetings.each do |meeting| %>
            <tr>
              <td>
                <%= link_to format_meeting_name(meeting), meeting %>
              </td>
              <td>
                <%= Date.parse(meeting.date.to_s) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p><%= t(:has_no_meetings).humanize %></p>
    <% end %>

  </div>
</div>
