<div class="center hero-unit">
  <h1>Profile for <%= @user.name %></h1>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <% if can? :edit, @user %>
    <%= link_to 'Edit', edit_user_path(@user) %>
  <% end %>
</div>
