<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>
        <%= format_payment_name(@payment) %>
      </h1>
    </div>
  </div>


  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Información</h3>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <td class="text-right">
                <strong>Usuario:</strong>
              </td>
              <td>
                <%= format_user_name(@payment.user) %>
              </td>
            </tr>
            <tr>
              <td class="text-right">
                <strong>Cantidad:</strong>
              </td>
              <td>
                <%= @payment.amount %>
              </td>
            </tr>
            <tr>
              <td class="text-right">
                <strong>Fecha:</strong>
              </td>
              <td>
                <%= @payment.date %>
              </td>
            </tr>
            <tr>
              <td class="text-right">
                <strong>Descripción:</strong>
              </td>
              <td>
                <%= @payment.description %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
