<%= form_for @territory, html: { class: "form-horizontal" } do |f| %>
  <% if @territory.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@user.errors.count, "error") %>:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control", placeholder: t(:name) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :desc, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :desc, class: "form-control", placeholder: t(:description) %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit t(:send).titleize, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
