<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h1>Territorios</h1>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th><%= t(:name) %></th>
          <th class="text-center"><%= t(:members).titleize %></th>
          <th class="text-center"><%= t(:meetings).titleize %></th>
          <% if current_user.admin? %>
            <th colspan="2"></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @territories.each do |territory| %>
          <tr>
            <td><%= link_to territory.name, territory %></td>
            <td class="text-center"><%= territory.members.count %></td>
            <td class="text-center"><%= territory.meetings.count %></td>
            <% if current_user.admin? %>
              <td class="text-center">
                <%= link_to t(:edit), edit_territory_path(territory), class: "btn btn-info" %>
              </td>
              <td class="text-center">
                <%= link_to t(:destroy), territory, method: :delete, data: { confirm: t(:are_you_sure) }, class: "btn btn-danger" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% if can? :new, Territory %>
      <%= link_to t(:new_territory).titleize, new_territory_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
