<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h1><%= @territory.name %></h1>

    <% if can? :edit, @territory %>
      <%= link_to t(:edit).humanize, edit_territory_path(@territory), class: "btn btn-primary" %>
    <% end %>

    <h2><%= t(:members).humanize %></h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t(:name).humanize %></th>
          <th><%= t(:email).humanize %></th>
          <% if current_user.admin? || current_user.aterritories.include?(@territory) %>
            <th></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @territory.members.each do |member| %>
          <tr>
            <td>
              <%= link_to member.name, member %><% if @territory.admins.include?(member) %> <strong>(admin)</strong><% end %>
            </td>
            <td><%= member.email %></td>
            <% if current_user.admin? || current_user.aterritories.include?(@territory) %>
              <td class="text-center">
                <%= link_to t(:destroy).humanize, '#', class: "btn btn-danger" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% if current_user.admin? || current_user.aterritories.include?(@territory) %>
      <%= form_for MemberTerritory.new, html: { class: "form-inline" } do |f| %>
        <%= f.hidden_field :territory_id, value: @territory.id %>
        <div class="form-group">
          <label class="sr-only"><%= t(:name).humanize %></label>
          <select name="member_territory[user_id]" class="form-control">
            <% User.all.each do |user| %>
              <% if !@territory.members.include?(user) %>
                <option value="<%= user.id %>"><%= user.name %></option>
              <% end %>
            <% end %>
          </select>
        </div>
        <%= f.submit t(:add_member).humanize, class: "btn btn-primary" %>
      <% end %>
    <% end %>

    <h2><%= t(:meetings).humanize %></h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= t(:title).humanize %></th>
          <th><%= t(:date_lit).humanize %></th>
        </tr>
      </thead>

      <tbody>
        <% @territory.meetings.order(:date).each do |meeting| %>
          <tr>
            <td>
              <%= link_to format_meeting_name(meeting), meeting %>
            </td>
            <td>
              <%= Date.parse(meeting.date.to_s) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% if current_user.admin? || current_user.aterritories.include?(@territory) %>
      <%= link_to t(:add_meeting).humanize, new_meeting_path, class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
