<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<h1>Territorios</h1>

		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Nombre</th>
					<th class="text-center">Miembros</th>
					<th class="text-center">Actas</th>
					<% if current_user.admin? %>
						<th colspan="2"></th>
					<% end %>
				</tr>
			</thead>

			<tbody>
				<% @territorios.each do |territorio| %>
					<tr>
						<td><%= link_to territorio.name, territorio %></td>
						<td class="text-center"><%= territorio.members.count %></td>
						<td class="text-center"><%= territorio.actas.count %></td>
						<% if current_user.admin? %>
							<td class="text-center">
								<%= link_to 'Editar', edit_territorio_path(territorio), class: "btn btn-info" %>
							</td>
							<td class="text-center">
								<%= link_to 'Eliminar', territorio, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
							</td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>

		<% if can? :new, Territorio %>
			<%= link_to 'Nuevo Territorio', new_territorio_path, class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
