<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		<h1>Territorio <%= @territorio.name %></h1>

		<p>
			<strong>Nombre:</strong>
			<%= @territorio.name %>
		</p>

		<% if can? :edit, @territorio %>
			<%= link_to 'Editar', edit_territorio_path(@territorio), class: "btn btn-primary" %>
		<% end %>

		<h2>Miembros</h2>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Email</th>
					<% if current_user.admin? || current_user.aterritorios.include?(@territorio) %>
						<th></th>
					<% end %>
				</tr>
			</thead>

			<tbody>
				<% @territorio.members.each do |member| %>
					<tr>
						<td>
							<%= link_to member.name, member %><% if @territorio.admins.include?(member) %> <strong>(admin)</strong><% end %>
						</td>
						<td><%= member.email %></td>
						<% if current_user.admin? || current_user.aterritorios.include?(@territorio) %>
							<td class="text-center">
								<%= link_to 'Eliminar Miembro', '#', class: "btn btn-danger" %>
							</td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>

		<% if current_user.admin? || current_user.aterritorios.include?(@territorio) %>
			<form class="form-inline" role="form">
				<div class="form-group">
					<label class="sr-only" for="exampleInputEmail2">Nombre del Usuario</label>
					<select class="form-control">
						<% User.all.each do |user| %>
							<% if !@territorio.members.include?(user) %>
								<option><%= user.name %></option>
							<% end %>
						<% end %>
					</select>
				</div>

				<%= link_to "Agregar Usuario", '#', class: "btn btn-primary" %>
			</form>
		<% end %>

		<h2>Actas</h2>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Resumen</th>
				</tr>
			</thead>

			<tbody>
				<% @territorio.actas.each do |acta| %>
					<tr>
						<td>
							<%= link_to acta.date, acta %>
						</td>
						<td>
							<%= acta.summary %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>

		<% if current_user.admin? || current_user.aterritorios.include?(@territorio) %>
			<%= link_to "Agregar Acta", new_acta_path, class: "btn btn-primary" %>
		<% end %>

	</div>
</div>
