<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		<h1>Territorio <%= @territorio.name %></h1>

		<p>
			<strong>Nombre:</strong>
			<%= @territorio.name %>
		</p>

		<% if can? :edit, @territorio %>
			<%= link_to 'Editar', edit_territorio_path(@territorio), class: "btn btn-primary" %>
		<% end %>

		<h2>Miembros</h2>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Email</th>
					<% if current_user.admin? || current_user.aterritorios.include?(@territorio) %>
						<th></th>
					<% end %>
				</tr>
			</thead>

			<tbody>
				<% @territorio.members.each do |member| %>
					<tr>
						<td>
							<%= link_to member.name, member %><% if @territorio.admins.include?(member) %> <strong>(admin)</strong><% end %>
						</td>
						<td><%= member.email %></td>
						<% if current_user.admin? || current_user.aterritorios.include?(@territorio) %>
							<td class="text-center">
								<%= link_to 'Eliminar Miembro', '#', class: "btn btn-danger" %>
							</td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>

		<% if current_user.admin? || current_user.aterritorios.include?(@territorio) %>
			<%= form_for MemberTerritorio.new, html: { class: "form-inline" } do |f| %>
				<%= f.hidden_field :territorio_id, value: @territorio.id %>
				<div class="form-group">
					<label class="sr-only">Nombre del Usuario</label>
					<select name="member_territorio[user_id]" class="form-control">
						<% User.all.each do |user| %>
							<% if !@territorio.members.include?(user) %>
								<option value="<%= user.id %>"><%= user.name %></option>
							<% end %>
						<% end %>
					</select>
				</div>
				<%= f.submit "Agregar Miembro", class: "btn btn-primary" %>
			<% end %>
		<% end %>

		<h2>Actas</h2>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Resumen</th>
				</tr>
			</thead>

			<tbody>
				<% @territorio.actas.order(:date).each do |acta| %>
					<tr>
						<td>
							<%= link_to format_acta_name(acta), acta %>
						</td>
						<td>
							<%= acta.summary %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>

		<% if current_user.admin? || current_user.aterritorios.include?(@territorio) %>
			<%= link_to "Agregar Acta", new_acta_path, class: "btn btn-primary" %>
		<% end %>

	</div>
</div>
