<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		<h1>Territorio <%= @territorio.name %></h1>

		<p>
			<strong>Nombre:</strong>
			<%= @territorio.name %>
		</p>

		<% if can? :edit, @territorio %>
			<%= link_to 'Editar', edit_territorio_path(@territorio) %>
		<% end %>

		<h2>Miembros</h2>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Email</th>
					<th class="text-center">Admin</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<% @territorio.members.each do |member| %>
					<tr>
						<td><%= link_to member.name, member %></td>
						<td><%= member.email %></td>
						<td class="text-center">
							<% if @territorio.admins.include?(member) %>
								<span class="glyphicon glyphicon-ok"></span>
							<% end %>
						</td>
						<td class="text-center">
							<%= link_to 'Eliminar Miembro', '#', class: "btn btn-danger disabled" %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
