<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to t(:demonet).humanize, root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to t(:users).humanize,       users_path %></li>
        <li><%= link_to t(:groups).humanize,      groups_path %></li>
        <li><%= link_to t(:meetings).humanize,    meetings_path %></li>
        <!-- <li class="active"><%= link_to "Usuarios", users_path %></li> -->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
          <li><%= link_to current_user.name, current_user %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t(:account).humanize %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to t(:profile).humanize, current_user %></li>
              <li class="divider"></li>
              <li><%= link_to t(:signout).humanize, salir_path, method: "delete" %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t(:not_signed_in), '#' %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
