<!DOCTYPE html>
<html lang="es">
<head>
  <title>Revolución Democrática</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

  <%= render 'layouts/header' %>

  <div class="content">
    <div class="sidebar" >
      <%= render 'layouts/sidebar' %>
    </div>

    <div id="mainbar">
      <div class="container">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %> <%= "alert-danger" if key == "error" %> alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
            <%= value %>
          </div>
        <% end %>
      </div>

      <%= yield %>

      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>

    <!-- Mainbar ends -->
    <div class="clearfix"></div>
  </div>

</body>
</html>
